---
import Navbar from '../components/navbar.astro';
import Hero from '../components/hero.astro';
import Cta from '../components/cta.astro';
import Features from '../components/features.astro';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Nospace: Whitespace With Syntax For Types.</title>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
		<style is:global>
			body { margin: 0; }
			* { font-family: -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important; }
		</style>
	</head>
	<body>
		<Navbar />
		<Hero />
		<Cta />
		<Features />
	</body>
</html>
