<style>
  .cta {
    background-color: #262626;
    color: white;
    padding: 16px;
    font-size: 1.2rem;
    font-weight: 300;
    text-align: center; 
  }

  a {
    color: #a3a3fd;
  }
</style>

<div class="cta">
  <a href="https://www.npmjs.com/package/nospace">Nospace 0.0.1</a> is now available.
</div>
