<style>
  .container {
    max-width: 1000px;
    margin: auto;
  }

  h2 {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 300;
  }

  .features {
    display: flex;
    flex-wrap: wrap;
  }

  .feature {
    padding: 1rem;
    flex: 1 1;
    min-width: 200px;
  }

  .feature > h3 {
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.6rem;
    text-align: center;
    margin-top: 0;
  }

  .feature > p {
    font-weight: 300;
  }

  .bold {
    font-weight: 500;
  }
</style>


<div class="container">
  <h2>What is Nospace?</h2>
  <div class="features">
    <div class="feature">
      <h3>Whitespace but Less</h3>
      <p>Nospace features lexical aliasing of Whitespace characters to support <strong>zero-width, single-lined programs</strong> helping to decrease readability.</p>
    </div>
    <div class="feature">
      <h3>Safety at Scale</h3>
      <p>Say goodbye to stack underflows. Nospace understands Whitespace and uses <strong>type inference to give you great tooling</strong> without additional code.</p>
    </div>
    <div class="feature">
      <h3>A Result You Might Trust</h3>
      <p>Nospace code converts to Whitespace, which <strong>runs anywhere Whitespace runs</strong>, so long as your Whitespace interpreter supports unicode.</p>
    </div>
  </div>
</container>
